@import "tailwindcss";
@import "tailwindcss";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@theme inline {
  --font-body: var(--font-lato);
  --font-heading: var(--font-playfair-display);
  --font-title: var(--font-playfair-display-sc);
}

@layer base {
  h1 { @apply font-title text-3xl md:text-5xl; }
  h2 { @apply font-title text-2xl md:text-4xl; }
  h3 { @apply font-heading text-xl md:text-3xl; }
  h4 { @apply font-heading text-lg md:text-2xl; }
  h5 { @apply font-bold text-base md:text-xl; }
  h6 { @apply font-bold text-base md:text-lg; }
}